* {
  font-family: var("https://fonts.google.com/specimen/Raleway");
  font-family: var("https://fonts.google.com/specimen/Open+Sans");
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  color: hsl(0, 0%, 75%);
  border: solid 2px green;
  width: auto;
}

.botonesnav {
  padding-top: 35px;
}

.firstrow {
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px 50px;
}

.input {
  border: solid 2px black;
}

.startedbtn {
  color: white;
  background-color: blue;
  border-radius: 8px;
  font-size: 10px;
  width: 150px;
  height: 30px;
  font-weight: 700;
}

.iconofichero {
  border: solid 2px red;
  height: 420px;
  width: 100%;
  margin-left: 100px;
}

.secondrow {
  border: solid 2px yellow;
}

.linkarrow {
  color: hsl(170, 45%, 43%);
}

.commentbox {
  background-image: image-set(transparent);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 300px;
  padding-left: 10px;
  font-weight: 200;
  border: solid 2px goldenrod;
}

.commentavatar {
  border-radius: 90px;
}

.thirdrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 50px;
  border: solid 2px lightseagreen;
}

.fourthrow {
  background: hsl(243, 87%, 12%);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 50px;
  border: solid 2px lightcoral;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
