.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  color: hsl(0, 0%, 75%);
  padding: 10px 50px;
  border: solid 2px maroon;
}

.botonesnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.firstrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 50px;
  padding-top: 40px;
}

.firstrow h2 {
  font-weight: 700;
}

.firstrow h5 {
  font-weight: 300;
}

.completerow {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btnspace {
  width: 250px;
  margin-right: 10px;
}

.startedbtn {
  color: white;
  background-color: blue;
  border-radius: 4px;
  font-size: 10px;
  width: 150px;
  height: 30px;
  font-weight: 700;
  cursor: pointer;
}

.iconofichero {
  height: 420px;
}

.secondrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 50px;
  padding-top: 40px;
  padding-bottom: 80px;
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(240, 75%, 98%);
}

.secondrow h5 {
  font-weight: 300;
}

.linkarrow {
  color: hsl(170, 45%, 43%);
}

.groupimg {
  height: 400px;
}

.testimonalbox {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 280px;
  height: 200px;
  padding-left: 20px;
  padding-top: 2px;
  margin-top: 30px;
}
.commentbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.commentavatar {
  border-radius: 40px;
  width: 70px;
  margin-right: 10px;
}

.thirdrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 50px;
  padding-top: 40px;
  width: 100%;
  background-color: hsl(238, 22%, 44%);
  color: white;
  box-sizing: border-box;
  border: solid 2px maroon;
}

.thirdrowdescription {
  border: solid 2px mediumvioletred;
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.thirdrowinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px gold;
}

.inputbtn2 {
  background-color: hsl(224, 93%, 58%);
  color: white;
  text-align: center;
  width: 150px;
  height: 35px;
  border-radius: 3px;
  border-color: hsl(224, 93%, 58%);
  margin-top: 10px;
}

.inputtext {
  width: 280px;
  height: 30px;
  text-align: start;
  border-radius: 4px;
}

.fourthrow {
  display: flex;
  justify-content: space-evenly;
  background: hsl(243, 87%, 12%);
  color: white;
  padding: 10px 50px;
  border: solid 2px;
}

.fourthrow1colum {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: solid 2px sandybrown;
  width: 100%;
}

.fourthrow2colum {
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid 2px peru;
  width: 100%;
}

.iconosredes {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
